* {
  box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
  font-size: 14px;
  line-height: 1.42857143;
}
a {
  background-color: transparent;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
button {
  overflow: visible;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
p {
  margin: 0 0 10px;
}

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after {
    display: table;
    content: " ";
}

.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-header:after, .modal-footer:after {
    clear: both;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.text-center {
    text-align: center;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-12 {
  width: 100%;
}


/*Intro*/
.intro-container {
    padding: 200px;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
}

#city-input {
  border: none;
  border-bottom: 2px solid #495c6b;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  height: 54px;
  line-height: inherit;
}

#city-input:focus {
  outline: 0;
}

.intro-container .row .col-xs-12 i {
  border-bottom: 2px solid #495c6b;
  padding-bottom: 0.9%;
  font-size: 2.5em;
  position: absolute;
  height: 54px;
}

.intro-container .row .col-xs-12 i:hover {
  cursor: pointer;
}

.intro-container .row p {
  margin-top: 2%;
  font-size: 1.1em;
}

#use-current {
  font-size: 1.3em;
}

#use-current a {
  color: #495c6b;
  border-bottom: 1px dotted #495c6b;
}

#use-current a:hover {
  text-decoration: none;
}


/*Weather*/
#widget-body {
    font-family: 'Roboto', sans-serif;
    background-color: #fe826a;
    margin: 5%;
    color: #495c6b;
}

.container {
  background-color: #fff;
}

#widget-body .widget-container {
  padding: 10px 40px 20px;
}

.city {
  font-size: 2.8em;
  font-weight: bold;
  margin-top: 30px;
}

.city span {
  margin-left: 25px;
}

.city i {
  padding: 0px 15px;
}

.wi-direction-left:hover {
  cursor: pointer;
}

.celsius-button {
  height: 47px;
  margin: 30px 30px;
}

.date {
  font-size: 2.4em;
}

.weather-title {
  font-size: 2em;
}

.temperature {
  font-size: 9em;
  color: #e79482;
  padding-left: 15px;
}

.temperature i {
  margin-left: 40px;
}

.todays-forecast {
  display: inline-block;
  margin-top: 25px;
  margin-left: 7%;
  color: #e79482;
  font-size: 1.5em;
}

.todays-forecast tr {
  height: 35px;
}

.todays-forecast td {
  padding: 0px 25px;
}

.week-forecast {
  margin: 25px auto;
  font-size: 1.2em;
}

.week-forecast i {
  font-size: 2.6em;
  margin: 5px auto 10px;
}

.day-in-week {
  width: 14.2857%;
  text-align: center;
}


/*---Switch styles---*/
/* Checkbox hack */
.switch input {
	cursor: pointer;
	height: 100%;
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: 100;
}

/* Container */
.switch {
	height: 32px;
	position: relative;
	width: 100px;
  margin-top: 8px;
  margin-right: 10px;
}

/* Background unchecked */
.switch label {
	background: #fff;
  color: #4f595b;
	border-radius: 20px;
	display: block;
	height: 100%;
	position: relative;
	transition: all .15s ease;
  width: 100%;
  border: 1px solid #686c6f;
}

/* Slider unchecked */
.switch label div {
	background: #fff;
	border-radius: 20px;
	display: block;
	height: 26px;
	left: 3px;
	position: absolute;
	top: 2px;
	transition: all .15s ease;
  width: 31px;
	z-index: 3;
  border: 1px solid #686c6f;
}

/* Temp. letter styles */
.switch .show-celsius {
  font-size: 20px;
	left: 10px;
	position: relative;
  top: 1px;
	z-index: 2;
}

.switch .show-farenheit {
  font-size: 20px;
	left: 42px;
  position: relative;
	top: 0;
	z-index: 2;
}

/* Checked States */
.switch input:checked~label {
	background: #fff;
  color: #4f595b;
}

.switch input:checked~label div {
	left: 64px;
}

@media (min-width: 992px) and (max-width: 1199px){
  #widget-body {
      margin: 2%;
  }

  .celsius-button {
    margin: 30px 10px;
  }

}


@media (max-width: 991px) {
  #temp-row {
    position: relative;
  }

  #temp-row .temperature {
    width: 60%;
  }

  #temp-row .temperature i {
    position: absolute;
    top: 28px;
    margin-left: 6%;
  }

}
