/*Intro*/
.intro-container {
    padding: 200px;
}

#city-input {
  border: none;
  border-bottom: 2px solid #495c6b;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  height: 54px;
}

#city-input:focus {
  outline: 0;
}

.intro-container .row .col-xs-12 i {
  border-bottom: 2px solid #495c6b;
  padding-bottom: 0.9%;
  font-size: 2.5em;
  position: absolute;
  height: 54px;
}

.intro-container .row .col-xs-12 i:hover {
  cursor: pointer;
}

.intro-container .row p {
  margin-top: 2%;
  font-size: 1.1em;
}

#use-current {
  font-size: 1.3em;
}

#use-current a {
  color: #495c6b;
  border-bottom: 1px dotted #495c6b;
}

#use-current a:hover {
  text-decoration: none;
}


/*Weather*/
#widget-body {
    font-family: 'Roboto', sans-serif;
    background-color: #fe826a;
    margin: 5%;
    color: #495c6b;
}

.container {
  background-color: #fff;
}

#widget-body .widget-container {
  padding: 10px 40px 20px;
}

.city {
  font-size: 2.8em;
  font-weight: bold;
  margin-top: 30px;
}

.city span {
  margin-left: 25px;
}

.city i {
  padding: 0px 15px;
}

.wi-direction-left:hover {
  cursor: pointer;
}

.celsius-button {
  height: 47px;
  margin: 30px 30px;
}

.date {
  font-size: 2.4em;
}

.weather-title {
  font-size: 2em;
}

.temperature {
  font-size: 9em;
  color: #e79482;
  padding-left: 15px;
}

.temperature i {
  margin-left: 40px;
}

.todays-forecast {
  display: inline-block;
  margin-top: 25px;
  margin-left: 7%;
  color: #e79482;
  font-size: 1.5em;
}

.todays-forecast tr {
  height: 35px;
}

.todays-forecast td {
  padding: 0px 25px;
}

.week-forecast {
  margin: 25px auto;
  font-size: 1.2em;
}

.week-forecast i {
  font-size: 2.6em;
  margin: 5px auto 10px;
}

.day-in-week {
  width: 14.2857%;
  text-align: center;
}


/*---Switch styles---*/
/* Checkbox hack */
.switch input {
	cursor: pointer;
	height: 100%;
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: 100;
}

/* Container */
.switch {
	height: 32px;
	position: relative;
	width: 100px;
  margin-top: 8px;
  margin-right: 10px;
}

/* Background unchecked */
.switch label {
	background: #fff;
  color: #4f595b;
	border-radius: 20px;
	display: block;
	height: 100%;
	position: relative;
	transition: all .15s ease;
  width: 100%;
  border: 1px solid #686c6f;
}

/* Slider unchecked */
.switch label div {
	background: #fff;
	border-radius: 20px;
	display: block;
	height: 26px;
	left: 6px;
	position: absolute;
	top: 2px;
	transition: all .15s ease;
  width: 31px;
	z-index: 3;
  border: 1px solid #686c6f;
}

/* Temp. letter styles */
.switch .show-celsius {
  font-size: 20px;
	left: 10px;
	position: relative;
  top: 1px;
	z-index: 2;
}

.switch .show-farenheit {
  font-size: 20px;
	left: 40px;
  position: relative;
	top: 0;
	z-index: 2;
}

/* Checked States */
.switch input:checked~label {
	background: #fff;
  color: #4f595b;
}

.switch input:checked~label div {
	left: 60px;
}

@media (min-width: 992px) and (max-width: 1199px){
  #widget-body {
      margin: 2%;
  }

  .celsius-button {
    margin: 30px 10px;
  }

}