<div class="container widget-container" ng-hide="getCity.isFirstStep">
    <div class="row">

      <div class="city pull-left">
        <i class="wi wi-direction-left" ng-click="getCity.removeCity();"></i>
        <span>{{getCity.cityName}}</span>
      </div>

      <div class="celsius-button pull-right">
        <div class="switch">
          <input type="checkbox" checked ng-click="getCity.changeUnit();">
          <label>
            <span class="show-celsius">°C</span>
            <span class="show-farenheit">°F</span>
            <div></div>
          </label>
        </div>
      </div>

    </div>

    <div class="row"> Imperial
      <div class="date col-xs-12">
        <p> {{getCity.weather.list[0].dt | dateFilter | date : 'fullDate' }}</p>
      </div>

      <div class="weather-title col-xs-12">
        <p style="text-transform: capitalize">{{getCity.weather.list[0].weather[0].description}}</p>
      </div>
    </div>

    <div class="row">

      <div class="temperature pull-left">
        <span>{{getCity.weather.list[0].temp.day | number:0}}°C</span>
        <i class="wi wi-day-sunny"></i>
      </div>

      <div class="todays-forecast">
        <table>
          <tr>
            <td>Morning</td>
            <td>{{getCity.weather.list[0].temp.morn | number:0}}°C </td>
          </tr>
          <tr>
            <td>Day</td>
            <td>{{getCity.weather.list[0].temp.day | number:0}}°C</td>
          </tr>
          <tr>
            <td>Evening</td>
            <td>{{getCity.weather.list[0].temp.eve | number:0}}°C</td>
          </tr>
          <tr>
            <td>Night</td>
            <td>{{getCity.weather.list[0].temp.night | number:0}}°C</td>
          </tr>
        </table>
      </div>

    </div>

    <div class="row">
      <div class="week-forecast">

        <div class="day-in-week pull-left">
          <p> Monday </p>
          <i class="wi wi-day-sunny"></i>
          <p> {{getCity.weather.list[0].temp.day | number:0}}°C </p>
        </div>

        <div class="day-in-week pull-left">
          <p> Tuesday </p>
          <i class="wi wi-day-sunny"></i>
          <p> {{getCity.weather.list[1].temp.day | number:0}}°C </p>
        </div>

        <div class="day-in-week pull-left">
          <p> Wednesday </p>
          <i class="wi wi-day-sunny"></i>
          <p> {{getCity.weather.list[2].temp.day | number:0}}°C </p>
        </div>

        <div class="day-in-week pull-left">
          <p> Thursday </p>
          <i class="wi wi-day-sunny"></i>
          <p> {{getCity.weather.list[3].temp.day | number:0}}°C </p>
        </div>

        <div class="day-in-week pull-left">
          <p> Friday </p>
          <i class="wi wi-day-sunny"></i>
          <p> {{getCity.weather.list[4].temp.day | number:0}}°C </p>
        </div>

        <div class="day-in-week pull-left">
          <p> Saturday </p>
          <i class="wi wi-day-sunny"></i>
          <p> {{getCity.weather.list[5].temp.day | number:0}}°C </p>
        </div>

        <div class="day-in-week pull-left">
          <p> Sunday </p>
          <i class="wi wi-day-sunny"></i>
          <p> {{getCity.weather.list[6].temp.day | number:0}}°C </p>
        </div>

      </div>
    </div> <!-- EOF WEEk ROW -->

  </div> <!-- EOF CONTAINER -->