<!DOCTYPE html>
<html ng-app="WeatherApp">
<head>
  <meta charset="utf-8">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/weather-icons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="font/font-awesome/css/font-awesome.min.css">

    <script src="angular.js"> </script>
    <script src="app.js"> </script>
    <script src="js/jquery-3.1.1.min.js"> </script>
    <script src="js/bootstrap.js"> </script>
    <title>Weather Forecast Widget</title>
</head>
<body id="widget-body" ng-controller='CityController as getCity'>

  <div class="container intro-container" ng-if="!getCity.cityName">
    <div class="row">
      <div class="col-xs-12 text-center">
        <input id="city-input" type="text" ng-model="getCity.cityName" placeholder="City">
        <i class="fa fa-search" aria-hidden="true" ng-click="getCity.showCity();"></i>
      </div>
    </div>

    <div class="row">
      <p class="text-center">or</p>
      <p class="text-center" id="use-current">use my <a href="">current position</a></p>
    </div>

  </div>
  

  <div class="container widget-container" ng-if="getCity.cityName">
    <div class="row">

      <div class="city pull-left">
        <i class="wi wi-direction-left"></i>
        <span>{{getCity.cityName}}</span>
      </div>

      <div class="celsius-button pull-right">
        <div class="switch">
          <input type="checkbox" checked>
          <label>
            <span class="show-celsius">°C</span>
            <span class="show-farenheit">°F</span>
            <div></div>
          </label>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="date col-xs-12">
        <p> Monday, March 6th 2017 </p>
      </div>

      <div class="weather-title col-xs-12">
        <p>Light snow</p>
      </div>
    </div>

    <div class="row">

      <div class="temperature pull-left">
        <span>4°C</span>
        <i class="wi wi-day-sunny"></i>
      </div>

      <div class="todays-forecast">
        <table>
          <tr>
            <td>Morning</td>
            <td>5°C </td>
          </tr>
          <tr>
            <td>Day</td>
            <td>4°C</td>
          </tr>
          <tr>
            <td>Evening</td>
            <td>0°C</td>
          </tr>
          <tr>
            <td>Night</td>
            <td>1°C</td>
          </tr>
        </table>
      </div>

    </div>

    <div class="row">
      <div class="week-forecast">

        <div class="day-in-week pull-left">
          <p> Monday </p>
          <i class="wi wi-day-sunny"></i>
          <p> 4°C </p>
        </div>

        <div class="day-in-week pull-left">
          <p> Tuesday </p>
          <i class="wi wi-day-sunny"></i>
          <p> 4°C </p>
        </div>

        <div class="day-in-week pull-left">
          <p> Wednesday </p>
          <i class="wi wi-day-sunny"></i>
          <p> 4°C </p>
        </div>

        <div class="day-in-week pull-left">
          <p> Thursday </p>
          <i class="wi wi-day-sunny"></i>
          <p> 4°C </p>
        </div>

        <div class="day-in-week pull-left">
          <p> Friday </p>
          <i class="wi wi-day-sunny"></i>
          <p> 4°C </p>
        </div>

        <div class="day-in-week pull-left">
          <p> Saturday </p>
          <i class="wi wi-day-sunny"></i>
          <p> 4°C </p>
        </div>

        <div class="day-in-week pull-left">
          <p> Sunday </p>
          <i class="wi wi-day-sunny"></i>
          <p> 4°C </p>
        </div>

      </div>
    </div> <!-- EOF WEEk ROW -->

  </div> <!-- EOF CONTAINER -->


</body>
</html>