<!DOCTYPE html>
<html ng-app="WeatherApp">
<head>
  <meta charset="utf-8">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/weather-icons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="font/font-awesome/css/font-awesome.min.css">

    <script src="angular.js"> </script>
    <script src="app.js"> </script>
    <script src="js/jquery-3.1.1.min.js"> </script>
    <script src="js/bootstrap.js"> </script>
    <title>Weather Forecast Widget</title>
</head>
<body id="widget-body" ng-controller='WeatherController as weatherData'>

  <div class="container intro-container" ng-show="weatherData.isFirstStep">
    <div class="row">
      <div class="col-xs-12 text-center">
        <input id="city-input" type="text" ng-model="weatherData.cityName" placeholder="City">
        <i class="fa fa-search" aria-hidden="true" ng-click="weatherData.fetchData(); weatherData.addCity(); weatherData.getIcon();"></i> <!-- Not proud of this line -->
      </div>
    </div>

    <div class="row">
      <p class="text-center">or</p>
      <p class="text-center" id="use-current">use my <a href="" ng-click="weatherData.fetchCoordWeather();">current position</a></p>
    </div>

  </div>

  <div class="container widget-container" ng-hide="weatherData.isFirstStep">
    <div class="row">
      <!-- <pre>http status code: {{weatherData.status}}</pre>
      <pre>http response data: {{weatherData.data}}</pre> -->

      <div class="city pull-left">
        <i class="wi wi-direction-left" ng-click="weatherData.removeCity();"></i>
        <span style="text-transform: capitalize;">{{weatherData.data.city.name}}</span>
      </div>

      <div class="celsius-button pull-right">
        <div class="switch">
          <input type="checkbox" checked ng-click="weatherData.changeUnit();">
          <label>
            <span class="show-celsius">°C</span>
            <span class="show-farenheit">°F</span>
            <div></div>
          </label>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="date col-xs-12">
        <p> {{weatherData.data.list[0].dt | dateFilter | date : 'fullDate' }}</p>
      </div>

      <div class="weather-title col-xs-12">
        <p style="text-transform: capitalize">{{weatherData.data.list[0].weather[0].description}}</p>
      </div>
    </div>

    <div class="row">

      <div class="temperature pull-left">
        <span ng-hide="weatherData.units">{{weatherData.data.list[0].temp.day | number:0}}°C</span>
        <span ng-show="weatherData.units">{{weatherData.data.list[0].temp.day | unitFilter | number:0}}°F</span>
        <i class="wi wi-{{weatherData.icon}}"></i>
      </div>

      <div class="todays-forecast">
        <table>
          <tr>
            <td>Morning</td>
            <td ng-hide="weatherData.units">{{weatherData.data.list[0].temp.morn | number:0}}°C </td>
            <td ng-show="weatherData.units">{{weatherData.data.list[0].temp.morn | unitFilter | number:0}}°F </td>
          </tr>
          <tr>
            <td>Day</td>
            <td ng-hide="weatherData.units">{{weatherData.data.list[0].temp.day | number:0}}°C</td>
            <td ng-show="weatherData.units">{{weatherData.data.list[0].temp.day | unitFilter | number:0}}°F</td>
          </tr>
          <tr>
            <td>Evening</td>
            <td ng-hide="weatherData.units">{{weatherData.data.list[0].temp.eve | number:0}}°C</td>
            <td ng-show="weatherData.units">{{weatherData.data.list[0].temp.eve | unitFilter | number:0}}°F</td>
          </tr>
          <tr>
            <td>Night</td>
            <td ng-hide="weatherData.units">{{weatherData.data.list[0].temp.night | number:0}}°C</td>
            <td ng-show="weatherData.units">{{weatherData.data.list[0].temp.night | unitFilter | number:0}}°F</td>
          </tr>
        </table>
      </div>

    </div>

    <div class="row">
      <div class="week-forecast">

        <div class="day-in-week pull-left">
          <p> Monday </p>
          <i class="wi wi-day-sunny"></i>
          <p ng-hide="weatherData.units"> {{weatherData.data.list[0].temp.day | number:0}}°C </p>
          <p ng-show="weatherData.units"> {{weatherData.data.list[0].temp.day | unitFilter | number:0}}°F </p>
        </div>

        <div class="day-in-week pull-left">
          <p> Tuesday </p>
          <i class="wi wi-day-sunny"></i>
          <p ng-hide="weatherData.units"> {{weatherData.data.list[1].temp.day | number:0}}°C </p>
          <p ng-show="weatherData.units"> {{weatherData.data.list[1].temp.day | unitFilter | number:0}}°F </p>
        </div>

        <div class="day-in-week pull-left">
          <p> Wednesday </p>
          <i class="wi wi-day-sunny"></i>
          <p ng-hide="weatherData.units"> {{weatherData.data.list[2].temp.day | number:0}}°C </p>
          <p ng-show="weatherData.units"> {{weatherData.data.list[2].temp.day | unitFilter | number:0}}°F </p>
        </div>

        <div class="day-in-week pull-left">
          <p> Thursday </p>
          <i class="wi wi-day-sunny"></i>
          <p ng-hide="weatherData.units"> {{weatherData.data.list[3].temp.day | number:0}}°C </p>
          <p ng-show="weatherData.units"> {{weatherData.data.list[3].temp.day | unitFilter | number:0}}°F </p>
        </div>

        <div class="day-in-week pull-left">
          <p> Friday </p>
          <i class="wi wi-day-sunny"></i>
          <p ng-hide="weatherData.units"> {{weatherData.data.list[4].temp.day | number:0}}°C </p>
          <p ng-show="weatherData.units"> {{weatherData.data.list[4].temp.day | unitFilter | number:0}}°F </p>
        </div>

        <div class="day-in-week pull-left">
          <p> Saturday </p>
          <i class="wi wi-day-sunny"></i>
          <p ng-hide="weatherData.units"> {{weatherData.data.list[5].temp.day | number:0}}°C </p>
          <p ng-show="weatherData.units"> {{weatherData.data.list[5].temp.day | unitFilter | number:0}}°F </p>
        </div>

        <div class="day-in-week pull-left">
          <p> Sunday </p>
          <i class="wi wi-day-sunny"></i>
          <p ng-hide="weatherData.units"> {{weatherData.data.list[6].temp.day | number:0}}°C </p>
          <p ng-show="weatherData.units"> {{weatherData.data.list[6].temp.day | unitFilter | number:0}}°F </p>
        </div>

      </div>
    </div> <!-- EOF WEEk ROW -->

  </div> <!-- EOF CONTAINER -->

</body>
</html>
